footer, h2{
  width: 100%;
  height: auto;
  border-radius: 0;
  padding: 10px;
}
h2{
    background-color: #dc3546;
    color: white;
}
#hatterkep{
    background: url(img/pizzabg.jpg);
}
#megt{
    width: 100vh;
    margin: 0 auto;
}
#piros{
    color: red;
}
input[type="text"], input[type="number"]{
    width: 100vh;
    height: 20px;
  }
  textarea{
    width: 100vh;
    height: 100px;
  }