footer,
header {
  background-color: darkseagreen;
  color: white;
}
.card-deck h5,
p {
  color: #2596be;
}
.card-deck a {
  color: darkseagreen;
}
#vissza {
  color: white;
}
#megt {
  width: 100vh;
  margin: 0 auto;
}
#nagybetu {
  color: green;
  text-transform: uppercase;
}
.modos {
  color: white;
  background-color: #2596be;
  border-style: none;
}
input[type="text"],
input[type="number"] {
  width: 100vh;
  height: 40px;
}
textarea {
  width: 100vh;
  height: 100px;
}
