body {
    margin: 0;
}

body > * {
    padding: 5px;
    font-size: 20px;
}

header {
    background: lightblue;
}

nav {
    background: white;
}

main {
    background: khaki;
}

footer {
    background: silver;
}

.doboz {
    padding: 10px;
    width: 150px;
    margin-bottom: 5px;
    border-radius: 10px;

}

.relative {
    background: red;
    border:  yellow dashed  2px;
    position: relative;
    top: 20px;
    left: 20px;
}

.absolute {
    border:  purple dotted  2px;
    background: green;
    position: absolute;
    top: 20px;
    left: 50px;
}


.absolute::before {
    content: "*absolute* ";
    font-style:  italic;
}


.relative::before {
    content: "*relative* ";
    font-style:  italic;
}


