html {
  font-family: Verdana;
  font-size: 16px;
  color: whitesmoke;
  text-align: justify;
}
body {
  background: url("hátter.jpg");
  background-size: cover;
  width: 50%;
  margin: 0 auto;
}
img {
  width: 100%;
  margin-top: 5px;
}
.Tortenet {
  margin-top: 15px;
  padding: 10px;
  background-color: rgba(147, 112, 219, 0.9);
}
#kep {
  width: 185px;
  float: left;
  margin: 6px;
}
.kiserok {
  padding-top: 5px;
  clear: left;
}
#javascript {
  margin-top: 15px;
  padding: 10px;
  background-color: rgba(147, 112, 219, 0.9);
}
iframe {
  margin-left: 380px;
  margin-top: 15px;
  border: none;
}
