
html{
    box-sizing: border-box;
    font-family: sans-serif;
}

*,*::before,*::after{
    box-sizing: inherit;
}

.flex-container{
    display: flex;
    counter-reset: items;
    flex-flow: column wrap;
    height: 650px;
    margin: 20px;
    align-content: space-between;
}

.flex-item{
    /*height: 100px;
    width: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    flex: 2 1 100px;*/
    width: 32%;
    padding: 10px;;
    background-color:  aquamarine;
    border:  #009999 solid 1px;
    border-radius: 5px;
    box-shadow: 0 2px 2px lightgrey, 0 4px 4px lightgrey;
    margin-bottom: 1%;
}



.flex-item::before{
    counter-increment: items;
    content: counter(items);
}


.flex-item:nth-child(5n+4){height: 120px;}
.flex-item:nth-child(5n+3){height: 180px;}
.flex-item:nth-child(5n+2){height: 150px;}
.flex-item:nth-child(5n+1){height: 130px;}
.flex-item:nth-child(5n){height: 100px;}


.flex-item:nth-child(3n+1){order:1;}
.flex-item:nth-child(3n+2){order:2;}
.flex-item:nth-child(3n){order:3;}


.flex-container::before, .flex-container::after{
    content: "";
    flex-basis: 100%;
    width: 5px;
    order: 2;
}

