body {
  display: grid;
  grid-template-areas:
    "menű fejléc"
    "menű tartalom"
    "menű reklám"
    "menű labléc";
  grid-template-columns: 20% 1fr;
  grid-template-rows: 80px 1fr 70px 70px;
  gap: 10 px;
  height: 100vh;
  margin: 0;
}
#fejléc {
  grid-area: fejléc;
}
#lábléc {
  grid-area: lábléc;
}
#tartalom {
  grid-area: tartalom;
}
#menű {
  grid-area: menű;
}
#reklám {
  grid-area: reklám;
}
header,
footer,
nav,
div,
article {
  border-radius: 5px;
  margin: 5px;
  padding: 1px;
  background-color: chartreuse;
}
@media all and (max-width: 600px) {
  body {
    display: grid;
    grid-template-areas:
      "fejléc"
      "menű"
      "reklám"
      "tartalom"
      "labléc";

    grid-template-rows: 80px 70px 70px 1fr 70px;
    grid-template-columns: 100vh;
  }
}
