td {
  color: black;
  border: black solid medium;
  text-align: center;
  background-color: #FF7F7F;
  padding: 8px;
}

.elrejtve {
  visibility: hidden;
  background-color: lightgreen;
  border: black double thick;
}

#sarok {
  visibility: hidden;
}