#username, #password{
    min-width: 200px;
}
.disable{
    display: none;
}
.klabel{
    min-width: 200px;
    display: inline-block;
}
div{
    margin: 20px;
}
fieldset{
    background-color: aliceblue;
}