body{
    background-color: orange;
    font-family: Verdana;
}
#keret{
    width: 960px;
    margin: 0 auto;
    background-color: cornsilk;
    padding: 30px;
}
h1{
    text-align: center;
    border-bottom: 6px double orange;
    font-size: 35px;
}
h2{
    border-bottom: 2px solid orange;
    border-top: 2px solid orange;
    margin-right: 50%;
}
p{
    text-align: justify;
	text-indent: 30px;
}
ul{
    margin-left: 80px;
}
li{
    margin-bottom: 5px;
    text-align: justify;
}
img{
    float: right;
    width: 200px;
    margin-left: 20px;
    border: 2px solid orange;
}
footer {
    margin: 30px;
    font-size: 16px;
    font-style: italic;
    float: left;
}