* {
  box-sizing: border-box;
}
html {
  background-color: #333;
}
#container {
  width: 1000px;
  margin: auto;
  background-color: white;
  padding: 10px;
}
#oldalfejlec {
  background-color: #333;
}
#fomenu ul {
  list-style: none;
  padding: 0;
  background-color: #ff8000;
}

#fomenu ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

#fomenu ul li a {
  background-color: #ff8000;
  color: #fff;
  width: 150px;
  display: block;
  text-decoration: none;
  padding: 5px 15px;
  text-align: center;
}

#fomenu ul li a:hover {
  background-color: #fff;
  color: #333;
}
header h1 {
  text-transform: uppercase;
  color: #ff8000;
  font-size: 60px;
  padding: 30px;
}
.linkjobbra {
  float: right;
}
h2,
h4 {
  color: #ff8000;
}
h3 {
  color: #ff8000;
  font-style: italic;
}
a {
  text-decoration: none;
  color: #ff8000;
}
#tablediv {
  clear: both;
  background-color: #333;
  padding: 10px;
  padding-bottom: 25px;
}
table {
  width: 100%;
  padding: 25px;
  border-collapse: collapse;
  color: white;
  font-size: 20px;
}

tr {
  border-bottom: 1px solid white;
}
td {
  padding: 15px;
}
.clr {
  clear: both;
}
#dijcontainer {
  clear: both;
  padding-bottom: 35px;
}
img {
  float: right;
  border: black 1px solid;
  border-radius: 360%;
  height: 28%;
  width: 28%;
}
.beljebb {
  padding-left: 50px;
}
#dijcontainer p {
  font-weight: bold;
}
p{
  text-align: justify;
}
#reg{
  display: inline-block;
  background-color: #333;
  color: #fff; 
  width: 100%;
  padding: 10px;
}
label{
  width: 200px;
  display: inline-block;

}
footer{
  border-top: 1px solid white;
  margin-top: 20px;
  font-style: italic;
  text-align: center;
  padding: 15px;
}