td {
  padding: 10px;
  color: black;
  border: black double thick;
  text-align: center;
  
}
tr:nth-child(5n+1) {
  background-color: red;
}
tr:nth-child(5n+2) {
  background-color: orange;
}
tr:nth-child(5n+3) {
  background-color: yellow;
}
tr:nth-child(5n+4) {
  background-color: limegreen;
}
tr:nth-child(5n+5) {
  background-color: cyan;
}
tr td:last-child{
  bottom: none;
}
