form{
    border:  black double thin;
    background-color:  aquamarine;
}

fieldset, .uralpmezo{
    background-color:  beige;
    padding: 5px;
}

form, fieldset{
    border-radius: 5px;
}

input[type="submit"]{
    margin: 10px 5px;
}

.check, .radio{
    font-weight:  bold;
    margin-bottom: 5px;
}