body {
    background-color: #ABD8E6
}

header {
    background-color: #85B0FF;
    color: white;
    padding: 10px;
    font-size: 18px;
}

#pizza_container {
    background-color: #F5F4EF;
}

footer {
    background-color: gray;
    color: white;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

.card_img {
    height: 300px;
}

.search_btn {
    font-size: 14px;
}

textarea {
    width: 100%;
    resize: none;
}