html {
  font-family: Calibri;
  font-size: 16px;
}
h3 {
  display: inline-block;
}
header {
  color: #006666;
  font-size: xx-large;
  background-color: white;
  padding: 10px;
}
footer {
  padding: 30px;
  background-color: white;
  align-content: bottom;
}
img {
  vertical-align: middle;
  width: 150px;
  height: 85px;
}
.terület {
  background-color: #006666;
  max-width: 20%;
  padding: 5px;
  min-height: 600px;
}
a {
  text-decoration: none;
  color: black;
}
.navbar-nav .nav-item .nav-link {
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: white;
  color: #006666;
}
.navbar-nav .nav-item:hover .nav-link {
  background-color: lightgoldenrodyellow;
  color: royalblue;
}
.inactive{
    opacity: 50%;
}
footer{
    text-align: center;
    color: #006666
}
main{
    width: 80%;
    background-color: #c5f7f8;
}
th{
    background-color:#006666;
}
tr{
    background-color:white;
    text-align: center;
}
td{
    color:#006666;
}
table{
    width: 60%;
    margin:0 auto;
}