/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017.11.28., 13:05:39
    Author     : admin
*/

table{
    border: blue 1px solid;
}
td{
    border: green 1px solid;
}

input{
    margin: 2px;
    
}

.cimke{
    width: 10%;
    display: inline;
}

