html {
  box-sizing: border-box;
}

#flex {
  display: flex;
  flex-flow: row wrap;
}

div {
  border: 1px solid gray;
  box-shadow: 1.5px 1.5px 2px grey;
  padding: 10px;
  margin: 10px;
  max-width: 150px;
  border-radius: 10px;
}

img {
  max-width: 150px;
}

button {
  align-items: center;
  padding: 7px;
  margin-bottom: 10px;
  background-color: gray;
  color: white;
  width: 150px;
}

div + div {
  margin-left: 1%;
}
