header {
	font-family: 'Verdana';
	font-size: 50px;	
	color: orange;
	text-shadow: 0 0 20px rgba(0,0,0,.8);
	margin: 0 auto;	
}
body {
	background: url('../pics/bg-body.gif') repeat center center fixed;
	font-family: 'Verdana';
	color: white;
	font-size:20px
}
menu {
	font-size:25px;
	color: white;
	font-family: 'Verdana';
	text-shadow: 0 0 20px rgba(0,0,0,1);
}
menuitem {
	padding:20px;
	display:inline-table;
	color:white;
}
a {
	color:orange;	
}