<!DOCTYPE html>
<html lang="hu">

<head>
    <title>Oldalszerkezet</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="layout.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <header>
            <h1>Fejléc</h1>
        </header>
        <nav>
            <h2>Navigáció</h2>
            <a href="#tartalomrész">Ugrás a tartalomhoz</a>
            <ul>
                <li>Menu 1</li>
                <li>Menu 2</li>
                <li>Menu 3</li>
                <li>Menu 4</li>
            </ul>
        </nav>
        <aside id="aside1">
            <h2>Oldalsáv</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint perspiciatis labore ex aut veniam ut
                maiores totam, voluptatum aspernatur non facere sunt porro libero nulla obcaecati laboriosam architecto
                ullam impedit.</p>
        </aside>
        <main id="tartalomrész">
            <h2>Tartalom</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint perspiciatis labore ex aut veniam ut
                maiores totam, voluptatum aspernatur non facere sunt porro libero nulla obcaecati laboriosam architecto
                ullam impedit.</p>
        </main>
        <aside id="aside2">
            <h2>Oldalsáv</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint perspiciatis labore ex aut veniam ut
                maiores totam, voluptatum aspernatur non facere sunt porro libero nulla obcaecati laboriosam architecto
                ullam impedit.</p>
        </aside>
        <footer>
            <h2>Lábléc</h2>
        </footer>
    </div>
</body>

</html>