body {
  padding: 15px;
  color: blue;
  line-height: 110%;
}

h1 {
  margin: 10px 0px 40px;
  text-align: center;
}

h1,
h2 {
  font-variant: small-caps;
  color: #3f4f5f;
}

.bevezeto {
  margin: 10px 200px;
  text-align: center;
  background-color: #ebebeb;
  padding: 10px 35px;
  font-size: 75%;
  border-top: 1px solid #3f4f5f;
  border-bottom: 1px solid #3f4f5f;
}

#brikettek {
  width: 90%;
  max-width: 500px;
}

p {
  text-align: justify;
}

p:first-letter {
  margin-left: 45px;
}

#presek {
  float: right;
  background-color: #ebebeb;
  width: 230px;
  margin: 0px 15px;
  text-align: center;
  font-style: italic;
  font-size: 75%;
  padding: 5px;
  border-left: 1px solid #3f4f5f;
  border-right: 1px solid #3f4f5f;
}

#presek img {
  width: 220px;
  margin-top: 20px;
}

.kiemelt {
  font-style: italic;
  font-weight: bold;
}

li {
  margin-top: 10px;
}
* {
  background-image: url("hatterkep.png");
  line-height: 125%;
  color: #1f3f5f;
}
footer {
  border-top: 1px solid;
}
