<<<<<<< HEAD
<<<<<<< HEAD
=======
header, footer
{
    background-color: darkgrey;
    color: white;
=======
>>>>>>> 041c220ce7569f7e25a1711f78e24d7f5e4ef32a
header, footer
{
    background-color: darkgrey;
    color: white;
<<<<<<< HEAD
=======
header, footer
{
    background-color: darkgrey;
    color: white;
=======
>>>>>>> 041c220ce7569f7e25a1711f78e24d7f5e4ef32a
>>>>>>> e64aef7d494d1f1d5727fa570625277f6bcb2d8f
}