<<<<<<< HEAD
header, footer
{
    background-color: darkgrey;
    color: white;
=======
header, footer
{
    background-color: darkgrey;
    color: white;
>>>>>>> e64aef7d494d1f1d5727fa570625277f6bcb2d8f
}