
html{
  box-sizing: border-box;
  font-family: sans-serif;
}

*,*::before,*::after{
  box-sizing: inherit;
}

.FlexContainer{
  display: flex;
  counter-reset: items;
  flex-flow: column wrap;
  height: 650px;
  margin: 20px;
  align-content: space-between;
}

.FlexItem{
  /*height: 100px;
  width: 400px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
  flex: 2 1 100px;*/
  width: 32%;
  padding: 10px;;
  background-color:  aquamarine;
  border:  #009999 solid 1px;
  border-radius: 5px;
  box-shadow: 0 2px 2px lightgrey, 0 4px 4px lightgrey;
  margin-bottom: 1%;
}

.FlexItem::before{
  counter-increment: items;
  content: counter(items);
}

.FlexItem:nth-child(5n+4){height: 120px;}
.FlexItem:nth-child(5n+3){height: 180px;}
.FlexItem:nth-child(5n+2){height: 150px;}
.FlexItem:nth-child(5n+1){height: 130px;}
.FlexItem:nth-child(5n){height: 100px;}

.FlexItem:nth-child(3n+1){order:1;}
.FlexItem:nth-child(3n+2){order:2;}
.FlexItem:nth-child(3n){order:3;}

.FlexContainer::before, .FlexContainer::after{
  content: "";
  flex-basis: 100%;
  width: 5px;
  order: 2;
}