/* alap stílus */

/*betűtípus importálás*/
 @import 'https://fonts.googleapis.com/css?family=Oswald';

 
body {

}

h1,h2 {
    font-family: 'Oswald', sans-serif;
    text-shadow: 3px 3px 3px #ccc;
	
}
header,main,footer {
    width: 70%;
    min-width: 400px;
    max-width: 1000px;
    background: #fff;
}
header, footer{
    opacity: 0.9;
}