@media print {
	* {
		transition: none!important;
		color: #000!important;
		box-shadow:none!important;
	}

	.content-width {
		width:100%!important;
		max-width:100%!important;
	}

	nav, #wrapper > header, #wrapper > footer ,
	.home-page .action-section .action-box .image-outer,
	.home-page .newsletter-section .form-content,
	.home-page .team-section .pager, .timebooking-section,
	.cookie-bar, .form-content, .page-header .image-content,
	.eye-examination-page .box .icon-content, .map-section,
	.blog-list-page .tags-box, .blog-list-page .image-content,
	.blog-list-page .pager-area, .blog-page .article-tags-content {
		display:none!important;
	}

	h1, .like-h1 {
		font-size:28px!important;
		line-height:36px!important;
	}

	h2, .like-h2 {
		font-size:26px!important;
		line-height:32px!important;
	}

	h3, .like-h3 {
		font-size:20px!important;
		line-height:24px!important;
	}

	.home-page .trust-section .icon-outer {
		display:none!important;
		height:0px!important;
		margin:0px!important;
	}

	.home-page .action-section {
		padding-bottom:0px!important;
	}

	.home-page .action-section .actions-content > .inner {
		width:100%!important;
		flex-wrap:wrap!important;
	}
	.home-page .action-section .action-box {
		width:50%!important;
	}

	.home-page .newsletter-section {
		background:#fff!important;
	}
	.home-page .newsletter-section .text-section {
		width:100%!important;
		padding-right:0px!important;
	}

	.home-page .newsletter-section .text-section > .text {
		border-bottom:none!important;
		padding-bottom:0px!important;
	}

	.home-page .team-section {
		padding:0px!important;
	}

	.home-page .team-section .inner {
		flex-wrap:wrap!important;
		width:100%!important;
		padding:0px 20px 0px 20px!important;
	}

	.home-page .team-section .inner > .text-content {
		width:100%!important;
		-webkit-transform:none!important;
		transform:none!important;
		margin:0px 0px 20px 0px!important;
	}
	
	.home-page .team-section .team-outer {
		width:100%!important;
	}

	.home-page .team-section .team-outer > .inner {
		width:100%!important;
		flex-wrap:wrap!important;
		align-items:flex-start!important;
	}

	.home-page .team-section .team-outer > .inner .members-container-box {
		margin:0px!important;
		width:50%!important;
		height:auto!important;
		margin-bottom:0px!important;
	}

	.home-page .team-section .team-outer > .inner .members-container-box .member-box {
		width:100%!important;
		margin-bottom:20px!important;
	}

	.home-page .team-section .team-outer > .inner .members-container-box .member-box > .image-outer {
		width:100px!important;
	}

	.home-page .team-section .team-outer > .inner .members-container-box .member-box > .text-content {
		width:calc(100% - 100px)!important;
	}

	.page-header .text-content {
		width:100%!important;
		background:#fff!important;
	}

	.page-header.with-image {
		height:auto!important;
		min-height:auto!important;
		margin:20px 0px 20px 0px!important;
	}

	.page-header .text-content .inner {
		width:90%!important;
		max-width:100%!important;
	}

	.eye-examination-page .box .text-content {
		width:100%!important;
		padding:0px!important;
	}

	.eye-examination-page .box-2 {
		width:100%!important;
		max-width:100%!important;
	}

	.stores-content-outer .stores {
		justify-content:space-between!important;
		display:flex!important;
		flex-wrap:wrap!important;
		grid-gap:0px 0px!important;
	}
	
	.stores-content-outer .stores .store-box {
		width:50%!important;
		margin:0px 0px 20px 0px!important;
	}

	.store-page .member-box .image-content {
		width:100%!important;
	}

	.store-page .member-box .text-content {
		width:calc(100% - 100px)!important;
	}

	.store-page .doctor-section {
		margin-top:30px!important;
	}

	.store-page .table-outer {
		display:block!important;
	}

	.blog-list-page .articles-content {
		width:100%!important;
		padding:0px!important;
	}
}
